{% extends 'base.html.twig' %}

{% block title %}Choix modification applications{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Apps/choixModifApplis.css') }}" type="text/css">
{% endblock %}

{% block body %}
    {% for message in app.flashes('msg') %}
        <div class="msg-success alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="main-content container-fluid">
        <div class="col-lg-6 mb-4">
            <form method="post">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 mb-2">
                        <h5 class="m-0 text-primary">Application à modifier :</h5>
                    </div>
                    <div class="card-body py-1 mb-2">
                        {{ form_start(form) }}
                            <div class="row">
                                <div class"col">
                                    {{ form_row(form.NOM_APPLICATION) }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mb-4">Confirmer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
